<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="SacIntegrado.Properties.Settings.sacConnectionString1"
      connectionString="Data Source=WARMACHINE;Initial Catalog=sac;User ID=sa;Password=fozzie"
      providerName="System.Data.SqlClient" />
    <add name="SacIntegrado.Properties.Settings.sacConnectionString2"
      connectionString="Data Source=BESTKS\SQL_BEST;Initial Catalog=sac;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SacIntegrado.Properties.Settings.sacConnectionString"
      connectionString="Data Source=BESTKS\SQL_BEST;Initial Catalog=sac;User ID=sa;Password=best"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>